* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}


html {
	scroll-behavior: smooth;
}

body {
	background-color: #efefef;
}

.nav-bg{
	background-color: #fff;
}

.btn a {
	text-decoration: none;
	color: #fff;
}

.masthead {
  height: 50vh;
  min-height: 500px;
  background-image: url('https://i.imgur.com/8Ot56Db.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead:before {
  opacity: .5;
}

.about-me-section {
	padding-top: 3rem;

}

.about-me-container {
	max-width: 960px;
}

.about-profile {
	padding: 5px 5px 5px 5px;
}
.profile-image{

}

.profile-info {
 	color: #3d4451;
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dedede;
}

.profile-title{
	font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    margin-bottom: 5px;
}

.profile-title span{
    font-weight: 300;
}

.profile-position {
	font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 0;
}

.profile-details {
    margin: 0;
    padding: 0;
    list-style: none;
}

.profile-details li {
    margin-bottom: 13px;
}

.profile-details .title {
    display: block;
    width: 120px;
    float: left;
    color: #333333;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.profile-details .cont {
    display: block;
    margin-left: 125px;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #9da0a7;
}

.Space {
    *zoom: 1;
}

.card-footer-bg{
	background-color: #e8676b;
}

.profile-social {
    padding: 15px 0;
}
.social {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    color: white;
    font-size: 20px;
}
.social li {
    display: inline-block;
    margin: 5px 15px;
}


.myskills-title {
	font-size: 25px;
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 5px;
}

.contactme-title {
	font-size: 25px;
    line-height: 1.1;
    font-weight: 600;
    margin-bottom: 5px;
}
.border-top {
    border-top: 5px solid #e8676b !important;
    }

.bg-html {
	background-color: 	#e45f26;
}
.bg-photoshop {
	background-color: #2da9ff;
}
.bg-css {
	background-color: #264de4;
}
.bg-python {
	background-color: #fccc39;
}
.bg-mernG {
	background-color: #e434ac;
}

.box .icon,.box .title{margin:0;position:absolute}
.box{box-shadow:0 0 3px rgba(0,0,0,.3);position:relative}
.box img{width:100%;height:auto}
.box .box-content{width:100%;height:100%;background:rgba(0,0,0,.6);opacity:0;position:absolute;top:0;left:0;transform:perspective(400px) rotateX(-90deg);transform-origin:center top 0;transition:all .5s ease 0s}
.box .icon li a,.box .title{background:#ef4050;font-size:20px;color:#fff}
.box:hover .box-content{opacity:1;transform:perspective(400px) rotateX(0)}
.box .title{padding:5px 7px;border-radius:5px;font-weight:600;bottom:20px;left:20px;transition:all .9s ease 0s}
.box .icon li a, .box-content,.icon li, img{transition:all .35s ease 0s}
.box:hover .title{bottom: 110px}
.box .icon{list-style:none;padding:0;top:40%;left:40%;right:0}
.box .icon li a{display:block;width:40px;height:40px;line-height:40px;border-radius:50%;margin-right:7px}
.boxl .icon,.boxl .title{width:100%;font-size:22px}
.box .icon li a:hover{background:#fff;color:#000}
@media only screen and (max-width:990px){.box{margin-bottom:20px}
}

.white {
	background: #e8676b;
}

nav.white ul {
      color: #000;
}

.nav-item::after{
    content:'';
    display:block;
    width:0px;
    height:4px;
    background:#ffffff;
    transition: 0.2s;
    margin-top:-10px;
}

.nav-item:hover::after{
	width:100%;
}

.contact-form {
	height: 400px;
	width: auto;
	margin-top: auto;
	margin-bottom: 20px;
	background: #d5595d;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}
.logo-container {
			position: absolute;
			height: 170px;
			width: 170px;
			top: -88px;
			border-radius: 50%;
			background: #f8f9fa;
			padding: 10px;
			text-align: center;
}
.form-logo {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			border: 2px solid white;
}

.message-box {
	margin-top: 0px; 
	margin-bottom: 0px; 
	height: 126px;
	width: auto;
}

.form-padding {
	padding-top:80px;
}

.message-sent-title {
    color: rgba(0,0,0,.65);
    font-weight: 600;
    text-transform: none;
    position: relative;
    display: block;
    padding: 13px 16px;
    font-size: 27px;
    line-height: normal;
    text-align: center;
    margin-bottom: 0;
}
.message-sent-text {
    font-size: 16px;
    position: relative;
    float: none;
    line-height: normal;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    margin: 0;
    padding: 0 10px;
    font-weight: 400;
    color: rgba(0,0,0,.64);
    max-width: calc(100% - 20px);
    overflow-wrap: break-word;
    box-sizing: border-box;
}

.success_icon{
    font-size: 80px;
    color: #57cf72;
}
